.app {
    width: 100vw;
    min-height: 100vh;
}

.noScript {
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.noScript img {
    width: 192px;
    height: 192px;
}

body {
    background-color: #fafafa;
}

