.eventList {
    margin-top: 128px;
    padding: 16px 0;
}

.event-icon {
    margin-right: 4px;
}

.event-body {
    display: flex;
    flex-direction: column;
}

.event-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
}

.event-info i {
    margin-right: 4px;
}

.eventList-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 16px;
}

.event-loader {
    width: 100%;
}
