.map {
    position: relative;
    width: 100%;
    height: 100vh;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.mapPopup {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.markerIcon {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.markerIcon:after {
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}

.markerIcon.is-open {
    display: none;
}

.markerIcon--busy {
    background-color: #4CAF50;
}

.markerIcon--busy:after {
    border-top-color: #4CAF50;
}

.markerIcon--average {
    background-color: #FFEB3B;
}

.markerIcon--average:after {
    background-color: #FFEB3B;
}

.markerIcon--desert {
    background-color: #EEE;
}

.markerIcon--desert:after {
    background-color: #EEE;
}

.markerIcon-content {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 1px;
    text-align: center;
    color: #333;
    width: 100%;
    white-space: nowrap;
}
