.search-bar {
    position: fixed;
    top: 80px;
    left: 16px;
    min-height: 48px;
    z-index: 1001;
    padding: 0;
    background-color: #fff;
    width: 50%;
    font-size: 13px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.search-bar .form-control {
    height: 48px;
    font-size: 13px;
    padding: 7px 0;
    padding-left: 16px;
    padding-right: 44px;
}

.search-bar .search-icon {
    position: absolute;
    right: 16px;
    font-size: 18px;
    top: 16px;
}

.search-bar .search-type-ahead {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.search-bar .search-type-ahead.filtering {
    max-height: 192px;
}

.search-bar .search-type-ahead .search-result {
    height: 48px;
    padding: 17px 16px;
    line-height: 1;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    border-bottom: 1px solid #eee;
    clear: both;
}
.search-bar .search-type-ahead .search-result:hover {
    background-color: #2196f3;
    color: #fff;
}

.search-bar .search-type-ahead .search-result.highlight {
    background-color: #2196f3;
    color: #fff;
}

.search-bar .search-type-ahead .search-result .event-name {

}
.search-bar .search-type-ahead .search-result .event-date {
    float: right;
}

.search-bar .search-type-ahead .no-search-results {
    padding: 16px;
}